.menuItem {
  display: block;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-out;
}

.menuItem:hover {
  transform: translateX(0.25rem);
}

.menuItem--selected {
  transform: translateX(0.25rem);
}

.menuItem::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 0.25s ease-out;
  z-index: -1;
}

.menuItem:hover::before {
  width: 100%;
}

/* Project-specific background colors with 10% opacity */
.menuItem--stakebar:hover::before {
  background-color: rgb(from theme('colors.stakebar-1') r g b / 0.1);
}

.menuItem--observatory:hover::before {
  background-color: rgb(from theme('colors.observatory-1') r g b / 0.1);
}

.menuItem--sdp:hover::before {
  background-color: rgb(from theme('colors.sdp-1') r g b / 0.1);
}

.menuItem--croco:hover::before {
  background-color: rgb(from theme('colors.croco-1') r g b / 0.1);
}

.menuItem--trezor:hover::before {
  background-color: rgb(from theme('colors.trezor-1') r g b / 0.1);
}

.menuItem--duo:hover::before {
  background-color: rgb(from theme('colors.duo-1') r g b / 0.1);
}

.menuItem--eigen:hover::before {
  background-color: rgb(from theme('colors.eigen-1') r g b / 0.1);
}

.menuItem--robert:hover::before {
  background-color: rgb(from theme('colors.about-1') r g b / 0.1);
}

.menuItem--wormhole:hover::before {
  background-color: rgb(from theme('colors.wormhole-1') r g b / 0.1);
}

.menuItem--mayan:hover::before {
  background-color: rgb(from theme('colors.mayan-1') r g b / 0.1);
}
