@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Display Bold';
  src:
    local('SF Pro Display Bold'),
    url('./assets/fonts/SF_Pro_Display_Bold/SF-Pro-Display-Bold.ttf');
}

@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url('./assets/fonts/Satoshi/Satoshi.ttf');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url('./assets/fonts/Satoshi/Satoshi-Medium.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Satoshi';
  src:
    local('TT Satoshi'), url('./assets/fonts/TTSatoshi/TTSatoshi-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sohne';
  src: local('Sohne'), url('./assets/fonts/Sohne/sohne-400-normal.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Haffer';
  src: local('Haffer'), url('./assets/fonts/Haffer/Haffer-Regular.c817e5bb');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Haffer';
  src: local('Haffer'), url('./assets/fonts/Haffer/Haffer-Light.b477605d');
  font-weight: light;
  font-style: normal;
}

/* @font-face {
  font-family: "Satoshi";
  src: local("Satoshi"), url("./assets/fonts/Satoshi/Satoshi-Bold.ttf");
  font-weight: bold;
  font-style: normal;
} */

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-family: "SF Pro Display Bold"; */
  font-family: 'Satoshi';
  /* font-family: "Haffer"; */
  /* font-family: "TT Satoshi"; */
  /* font-family: "Source Serif Pro", serif; */
  /* font-family: "Cabin Variable", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Lexend Deca Variable", sans-serif; */
  /* font-family: "Rubik Variable", sans-serif; */
  line-height: 1.5;
  /* font-weight: lighter; */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */

  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
}

article {
  max-width: 400px;
  padding: 20px;
  background-color: aqua;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 66.66%;
  cursor: zoom-in;
  /* margin: 50px 0; */
  /* -webkit-transition: scale 0.125s ease-in-out;
  -moz-transition: scale 0.125s ease-in-out;
  -o-transition: scale 0.125s ease-in-out;
  transition: scale 0.125s ease-in-out; */
}

/* .image-container:hover {
  scale: 1.05;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 66.66%;
  cursor: zoom-in;
  margin: 50px 0;
} */

.image-container.open {
  cursor: zoom-out;
}

.image-container .shade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);
}

.image-container.open .shade {
  pointer-events: auto;
  backdrop-filter: blur(8px);
  opacity: 1 !important;
  background-color: rgb(9 30 65 / 37%);
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  /* border-radius: 10px; */
}

.image-container.open img {
  position: fixed;
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  box-shadow: 0px 5px 46px -10px rgba(29, 29, 33, 0.5);
}

@media (max-width: 600px) {
  article {
    padding: 20px;
  }
}

body {
  /* background: #151515; */

  /* width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.example-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  backdrop-filter: blur(8px);
  opacity: 1 !important;
  background-color: rgb(9 30 65 / 37%);
  justify-content: center;
  align-items: center;
  /* width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.gallery-img {
  position: absolute;
  max-width: 80vw;
  max-height: 90vh;
  /* width: 100%;
  height: 100%; */
  /* border-radius: 5px; */
  /* box-shadow: 0px 5px 46px -10px rgba(29, 29, 33, 0.5); */
}
